.body {
  font-family: Arial, sans-serif;
  background-color: #ffe6cc;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.about {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.logo img {
  display: block;
  margin: 0 auto;
  width: 300px;
  cursor: pointer;
  border-radius: 20%;
  height: 300px;
}

h1 {
  color: #333;
}

.search-container {
  margin-bottom: 20px;
}

